---
title: Xela -- Middleman page
---

<div class="banner" style="background-image: url('images/dark_scep_of_the_moon_IP.png');">
  <div class="banner-content">
    <h1>SCEP WEBDESIGN</h1>
    <p>La SCEP bien plus que du poulet!</p>
    <%= link_to "Start now", "#", class: "btn-treehouse" %>
  </div>
</div>


<div class="main-container">
  <div class="card-container">
    <div class="row justify-content-between">
    <% data.flats.each do |owner, flat| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
          <div class="card-category"><%= flat.city_name %></div>
          <div class="card-description">
            <h3><%= flat.name %></h3>
            <p><%= flat.description %></p>
          </div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class:"card-user" %>
          <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>


<div id="home">
  <div class="home-content">
      <%= image_tag "logo.png", class: "logo-wagon", width: "200" %>
      <p class="about">
        <%= link_to "More about this template", "about.html" %>
      </p>
  </div>
</div>



